@model WebApplication17.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

    <script type="text/javascript">
        $(document)
            .ready(function() {
                $(document)
                    .on('change',
                        "#openFile",
                        function() {
                            $('#error').empty();
                            var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
                            var extension = filename.replace(/^.*\./, '');
                            console.log(filename + " " + extension);
                            if (extension === filename) {
                                extension = '';
                            } else {
                                extension = extension.toLowerCase();
                            }
                            switch (extension) {
                            case 'jpg':
                            case 'jpeg':
                            case 'png':

                                $('#submit').attr("disabled", false);
                                break;
                            default:
                                $("#moj_div").find("#submit").attr("disabled", true);
                                $("#moj_div").find("#error").append('<p>Nieprawidłowe rozszerzenie pliku</p>');
                            }
                            var size = this.files[0].size;
                            if (size > 500000) {
                                $("#moj_div").find("#submit").attr("disabled", true);
                                $("#moj_div").find("#error").append('<p>Zbyt duży rozmiar</p>');
                            }

                            var url = window.URL || window.webkitURL;

                            var image, file;
                            if ((file = this.files[0])) {
                                image = new Image();
                                image.onload = function () {
                                    if (this.width > 300 ||
                                        this.height > 300 ||
                                        ((this.width / this.height) !== 1)) {
                                        $("#moj_div").find("#submit").attr("disabled", true);
                                        $("#moj_div").find("#error").append('<p>Nieprawidłowa rozdzielczość obrazka</p>');
                                    }
                                };
                                image.src = url.createObjectURL(file);
                            }
                        });
            });
    </script>
}


<div id="page" class="col-md-12">
    <h3>Panel użytkownika</h3>
    <div id="functions" class="col-md-3">

        @Ajax.ActionLink("Profil", "AccountDetails", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item list-group-item-info" })
        @Ajax.ActionLink("Wiadomości", "Inbox", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item list-group-item-info" })
        @Ajax.ActionLink("Zmień dane", "ChangeDetails", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item list-group-item-info" })
        @Ajax.ActionLink("Zmień awatar", "ChangeAvatar", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item list-group-item-info" })

        <br />
        @if (User.IsInRole("Admin") && Request.IsAuthenticated)
        {
            <h5>Opcje administracyjne:</h5>
            @Ajax.ActionLink("Forum", "ManageForum", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item list-group-item-text" })
            @Ajax.ActionLink("Newsy", "ManageNews", null, new AjaxOptions { UpdateTargetId = "moj_div", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item list-group-item-text" })
        }

    </div>
    <div id="moj_div" class="col-md-9">

    </div>
</div>
