@using WebApplication17.Models
@if (User.IsInRole("Admin") && Request.IsAuthenticated)
{

    var im = new IdentityManager();

    <table class="table table-bordered">
        <th class="col-md-4">Użytkownik</th>
        <th class="col-md-5">Rola w serwisie</th>
        <th class="col-md-3">Opcje</th>
        @foreach (var user in ViewBag.UserList)
        {
            <tr>
                <td>
                    @user.UserName
                </td>
                <td>

                    @if (im.isUserInRole(user.Id, "Admin"))
                    {
                        @Ajax.ActionLink("Odbierz admina", "ChangeAdminRole", new { id = user.Id },
                            new AjaxOptions
                            {
                                UpdateTargetId = "moj_div",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "Post"
                            },
                            new { @style = "color:red;" })
                    }
                    else
                    {
                        @Ajax.ActionLink("Nadaj admina", "ChangeAdminRole", new { id = user.Id },
                            new AjaxOptions
                            {
                                UpdateTargetId = "moj_div",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "Post"
                            },
                            new { @style = "color:SpringGreen;" })
                    }
                    - @Ajax.ActionLink("Zarządzaj rolą moderatora", "ModeratorManage", new { id = user.Id },
                          new AjaxOptions
                          {
                              UpdateTargetId = "moj_div",
                              InsertionMode = InsertionMode.Replace,
                              HttpMethod = "GET"
                          })
                </td>


                <td>
                    @Ajax.ActionLink("Edytuj", "EditUser", new { id = user.Id },
                        new AjaxOptions
                        {
                            UpdateTargetId = "moj_div",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        }) •
                    @if (user.LockoutEnabled == true)
                    {

                        @Ajax.ActionLink("Odblokuj", "ChangeStateForUser", null, new { id = user.Id },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "moj_div",
                                    InsertionMode = InsertionMode.Replace

                                },
                                new { @style = "color:SpringGreen;" })

                    }
                    else if (user.LockoutEnabled == false)
                    {

                        @Ajax.ActionLink("Zablokuj", "ChangeStateForUser", null, new { id = user.Id },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "moj_div",
                                    InsertionMode = InsertionMode.Replace

                                },
                                new { @style = "color:red;" })

                    }
                </td>



            </tr>
        }
    </table>
}