@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>


                @*  @Html.ActionLink("Wiadomości", "Index", "Messages", routeValues: null, htmlAttributes: new {id = "registerLink"})*@
                @{
                    var ile = WebApplication17.Controllers.MessagesController.Unread2(User.Identity.GetUserId());
                    if (ile == 0)
                    {
                        <p id="registerLink" style="position: relative;display: block; padding-top: 19.5px;">Wiadomości <span id="sumOfNewMessages" class="badge">(0)</span></p>
                    }
                    else
                    {
                        <p id="registerLink" style="position: relative;display: block;  padding-top: 19.5px;">Wiadomości <span id="sumOfNewMessages" class="badge">@ile</span></p>


                    }
                }
            </li>
            <li>
                @Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span></a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
