@model WebApplication17.Models.Post

@{
    ViewBag.Title = "Usuń post";
}

<h3>Czy na pewno chcesz usunąć ten post?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Thread.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thread.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" /> |

            @Html.ActionLink("Wróc do poprzedniego wątku", "PostThread", "Posts", new { id = Model.ThreadId }, new { @class = "btn btn-primary btn-md" })
        </div>
    }
</div>
